<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>

		<add key="conexionTxt" value="Provider=TextFile,data source=C:\WORKSPACES\2022-pss-pgr866\Practica_05\XMLAppConsola\claves.txt,FinCampo=;,Formato=Id;Nombre;PalabraPaso;Categoria;EsValido" />
		<add key="conexionSql" value="Provider=SqlServerFile,data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\WORKSPACES\2022-pss-pgr866\Practica_05\XMLAppConsola\AutentificacionDB.mdf;Integrated Security=True"/>
		<add key="conexionXml" value ="Provider=XMLFile,data source=C:\WORKSPACES\2022-pss-pgr866\Practica_05\XMLAppConsola\claves.xml"/>

	</appSettings>
</configuration>